{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Rent My Tools</a> &raquo; Home</p>
	
    <section  id = "introduction" class ="homepage">
		<h3>Welcome the the Rent My Tools website.</h3>
		<p>
			Is there a tool you need but you don't have it? Is it too expensive too buy? Don't know anybody that can lend you the appliance? Look no further! On this site you can find and rent tools other people own, but don't need them at the moment.</br> Look trough the <a href="{{ app.request.baseUrl }}/rent">lists of available tools</a> or use the search bar to find a specific tool. You might find the device you need!
		</p>
		</br>
		<p>
			Have an item yourself that you do not longer use and you want to rent out? Use the <a href="{{ app.request.baseUrl }}/register">register button</a> to sign up for an account! Click the "Add New Tool" button, fill in the details, upload some pictures and you're set! Now all you have to do is wait until another person wants to rent it.
		</p>
	</section>

{% endblock %}