{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Rent My Tools</a> &raquo; Contact</p>

	<section id="success">
		<p>Your message has been succesfully sent!</p>
		<p><a href="{{ app.request.baseUrl }}/">Click here</a> to return to the homepage.</p>
	</section>
{% endblock %}