{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools &raquo; 404 - File Not Found' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Rent My Tools</a> &raquo; 404 - File Not Found</p>
	<p id="error404">{{ error }}</p>
	<p><a href="{{ app.request.baseUrl }}/">Click here to return to the homepage</a></p>
{% endblock %}